[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ankit Bhatt (ankitbhattgb)
[access "refs/for/refs/*"]
	read = group user/Ankit Bhatt (ankitbhattgb)
	push = group user/Ankit Bhatt (ankitbhattgb)
	label-Code-Review = -2..+2 group user/Ankit Bhatt (ankitbhattgb)
	label-Verified = -1..+1 group user/Ankit Bhatt (ankitbhattgb)
	rebase = group user/Ankit Bhatt (ankitbhattgb)
	removeReviewer = group user/Ankit Bhatt (ankitbhattgb)
	submit = group user/Ankit Bhatt (ankitbhattgb)
[access "refs/heads/*"]
	read = group user/Ankit Bhatt (ankitbhattgb)
	create = group user/Ankit Bhatt (ankitbhattgb)
	push = +force group user/Ankit Bhatt (ankitbhattgb)
	pushMerge = group user/Ankit Bhatt (ankitbhattgb)
[access "refs/tags/*"]
	push = group user/Ankit Bhatt (ankitbhattgb)
	push = +force group user/Ankit Bhatt (ankitbhattgb)
